<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Base</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'index' %}">DJANGO</a></li><br>
                <li><a class="navbar-link" href="{% url 'admin:index' %}">ADMIN</a></li><br>
                <li><a class="navbar-link" href="{% url 'l_app:register' %}">REGISTER</a></li><br>

                {% if user.is_authenticated %}
                <li><a class="navbar-link" href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                <li><a class="navbar-link" href="{% url 'l_app:user_login' %}">LOGIN</a></li>

                {% endif %}

            </ul>
        </div>
    </nav>

    <din class="container">
        {% block body_block %}
        {% endblock %}
    </din>

</body>

</html>